:root {
  --main: hsl(355, 86%, 52%);
  --secondary: hsl(197, 87%, 48%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

/* Commons */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Nav */
nav {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 4vh 0;
}

nav .logo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  object-fit: contain;
  padding: 0 0.5rem;
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  gap: 2rem;
}

nav .links img {
  height: 5vh;
  transition: scale 0.5s;
  scale: 1;
  max-height: 30px;
  object-fit: contain;
}

nav .links img:hover {
  transition: scale 0.5s;
  scale: 1.1;
}

/* Swiper */
.swiper {
  width: 100%;
  max-width: min(500px, 80%);
}

.swiper-slide {
  /* height: 700px; */
  display: grid;
  place-items: center;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.swiper-slide img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.swiper-slide a {
  position: absolute;
  padding: 4rem 0;
  width: 150%;
  transform: rotate(-10deg);
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  text-shadow: -1px 0 0 var(--main), 1px 0 0 var(--secondary), 0 0 5px rgba(255, 255, 255, 0.75);
  color: #000;
}
