:root {
  --main: hsl(355, 86%, 52%);
  --secondary: hsl(197, 87%, 48%);
  --beige: hsl(36, 42%, 87%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

/* Commons */
img {
  max-width: 100%;
  max-height: 100%;
}

/* Nav */
nav {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 0 0;
}

nav .logo {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  object-fit: contain;
  padding: 0 0.5rem;
}

nav .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 750px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  gap: 2rem;
}

nav .links img {
  height: 5vh;
  transition: scale 0.5s;
  scale: 1;
  max-height: 30px;
  object-fit: contain;
}

nav .links img:hover {
  transition: scale 0.5s;
  scale: 1.1;
}

/* Swiper */
.swiper,
.galleryDetail {
  margin: 0 auto;
  padding: 1rem 0;
  overflow: visible;
  transition: opacity 1s;
  height: calc(75vh - 8rem);
}

.galleryDetail {
  max-width: 90%;
}

.swiper-slide {
  display: grid;
  place-items: center;
  border-radius: 15px;
  width: fit-content !important;
}

.swiper-slide img {
  object-fit: contain;
  max-height: min(700px, 50vh);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.swiper-slide div {
  display: none;
}

.swiper-slide-active div,
.galleryDetailInnerDiv {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -7rem;
  display: grid;
  gap: 0.75rem;
  place-items: center;
  width: 350px;
}

.discover,
.swiper-slide-active div a {
  text-decoration: none;
  color: inherit;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px #000, -2px -2px 0 var(--main), 2px 2px 0 var(--secondary),
    0 0 10px rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  transition: box-shadow 0.25s;
}

.swiper-slide-active div a:hover,
.discover:hover {
  box-shadow: 0 0 5px #000, -4px -4px 0 var(--main), 4px 4px 0 var(--secondary),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  text-shadow: 0 0 5px #fff, -2px 0 0 var(--main), 2px 0 0 var(--secondary),
    0 0 10px rgba(255, 255, 255, 0.5);
}

/* Footer */
footer {
  color: #000;
  position: fixed;
  bottom: 7.5px;
  left: 0;
  width: 100%;
}

footer a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

footer p {
  margin: 0 auto;
  text-align: center;
}

/* Javascript */
.opacity {
  opacity: 0;
}

.disappear {
  max-height: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media screen and (min-width: 1000px) {
  nav .logo {
    margin: 0;
  }

  nav .links {
    margin: 0;
  }
}
