* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* height: 100%; */
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
}

/* Javascript */
.visible {
    transition: opacity 0.5s ease-in;
    opacity: 1 !important; /* Keep !important on*/
}

.hover {
    opacity: 0.075;
}

/* Commons */
img {
    max-width: 100%;
    max-height: 100%;
}

/* Nav */
nav {
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

nav .logo {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    object-fit: contain;
    padding: 0.5rem 0.5rem 0 0.5rem;
}

nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0.5rem 0.5rem 0 0.5rem;
    gap: 2rem;
}

nav .links img {
    height: 5vh;
    transition: scale 0.5s;
    scale: 1;
}

nav .links img:hover {
    transition: scale 0.5s;
    scale: 1.1;
}

/* Gallerie */
.gallerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.gallerie div {
    position: relative;
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 5px;
    overflow: hidden;
}

.gallerie div img {
    height: 100%;
    max-height: 700px;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: opacity 0.25s ease-in;
}

.gallerie div div {
    display: grid;
    gap: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    width: 80%;
    max-width: 40ch;
    pointer-events: none;
}

.gallerie div p {
    font-size: 1.5rem;
}
